*,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;

  box-sizing: border-box;
}

:root {
  --font-head: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --blue: #3fc2ff;
  --white: #fff;
  --purple-gradient: linear-gradient(
    154deg,
    rgb(64, 11, 254),
    rgb(132, 56, 255)
  );

  --body-pad: 4rem;
}

body,
button {
  font-family: var(--font-body);
}

body {
  font-size: 16px;
}
